<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="mostrarQR" class="ion-text-center">
    <ion-card-content>
      <qrcode
        [qrdata]="qrCodeString"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="generarQR()">Abrir QR</ion-button>

  
</ion-content>
<ion-button expand="full"  class="custom-input"  [routerLink]="['/login']">salir</ion-button>