
  ion-back-button{
  
    animation: slide-from-right 1s ease-out;
  }
  
  .animacion-user{
    animation: slide-from-right 2s ease-out;
    font-size: 2em; 
  }
  
  .custom-input{
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .custom-perfil{
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }